body {
    background-color: #E1AFD1;
    ul {
        list-style-type: none;
        margin: 0px;
        padding: 0;
        overflow: hidden;
        background-color: #7469B6;
      }
      
      li {
        float: left;
      }
      
      li a {
        display: block;
        color: #FFE6E6;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        
      }
      
      li a:hover {
        background-color: #111;
      }
}
.buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    border: 10px solid #7469B6; 
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

#rcorners1 {
    border-radius: 25px;
    background: #7469B6; 
    padding: 20px; 
    width: 100%;
    height: auto;
    margin-top: 30px ;

  }

  .headings {
    text-align: center;
  }

  #rcorners2 {
    display: flex;
    justify-content: center;
    border-radius: 25px;
    background: #7469B6; 
    padding: 50px; 
    width: auto;
    height: auto;
    margin-top: 30px ;
  }